<div class="brand-shell">
    <div class="brand-mark">TM</div>
    <div>
        <p class="brand-kicker">Blazor Workspace</p>
        <a class="navbar-brand" href="">FlowBoard</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Overview
            </NavLink>
        </div>
    </nav>
</div>
